.news > article > h2 {
  font-size: 50px;
}
p {
  font-size: 24px;
}

.text-bold {
  font-weight: bold;
}

.text-dark {
  color: #333333;
}
/*div {
  width: 500px;
  height: 500px;

  background: #333333;
}

/*#main {
  color: white;
  width: 750px;
}*/

.text-white {
  color: white;
}

.alert {
  height: 350px;
  color: gray;
}

div {
  background: blue;
}

.alert-warning {
  background: #000000;
  color: yellow;
}
